/*archivo CSS para la pagina del proyecto final*/
li {
	display: inline;
	list-style: none;
	color: rgb(240, 246, 243);
	font-size: 30px;
	padding: 10px;
	margin: 10px;
}

a {
	text-decoration: none;
}

.header {
	height: 220px;
	width: 100%;
}

.bgColor {
	background-color: rgb(241, 141, 10);
}

.textDecorationnav {
	text-decoration-color: rgb(239, 245, 240);
}

.bgColorNav {
	background-color: rgb(184, 220, 85);
}


/*GRID COMMANDS*/

.gridIndex{
	display: grid;
	grid-template-areas:
	"header header header header"
	"main main main main"
	"footer footer footer footer";
}

header{grid-area: header;}

main{grid-area: main;
display: flex;
justify-content: space-evenly;
width: 100%;}

footer{grid-area: footer;}

.absolute{position: absolute;}

.header{display: flex;
justify-content: center;
align-content: center;
position: relative;
}

.header img{
	position: absolute;
	top: 0;
	left: 0;
}